Connected to base (Python 3.13.5)

In [ ]:
filtro = (df["IdProduto"] == 5) | (df["IdProduto"] == 11)
df[filtro]

NameError: name 'df' is not defined

In [ ]:
import pandas as pd

df = pd.read_csv("../data/transacao_produto.csv",sep=";")
df

,idTransacaoProduto,IdTransacao,IdProduto,QtdeProduto,vlProduto
0,000026d0-4d4e-4fed-934a-9e5b26d9e379,d59d9859-8fb9-41cc-a296-be38c4dce8e4,5,1,1
1,00002f54-dd03-4b3f-ade0-22c3e61df8c2,519241fd-2676-49b2-8e74-0acc09a08f69,5,1,1
2,00006a7d-c83a-44ca-aad9-e8a2a2f1b64d,73993c42-d18f-4f51-82c4-25e13c29962c,11,1,50
3,0000991a-e6ae-4b9f-8747-c6cfe77890dd,db341350-16e4-49ea-96d4-c3e991e7c8c0,5,1,1
4,0000d145-c8b5-48fb-9ea3-d91eba3af306,7ee57139-6183-4cd6-8960-b5b14884aefb,5,1,1
...,...,...,...,...,...
289507,fffd9569-31e6-4515-8494-4edeabc0cfc2,6baf63b1-d05a-419d-a84f-abdf6906fef8,11,1,50
289508,fffe7e68-c450-4025-9469-e5cbe7699b49,90f7149b-5794-4d49-9239-c3bddb5b0980,5,1,1
289509,fffead0f-105b-4517-ac6f-b60ffd66f0dd,a5240b8c-c015-4d4c-8e34-2e81973ad084,5,1,1
289510,ffff210a-2594-42fa-8d85-c97483817542,4d7c74c0-5ca0-4786-823b-b393d505c2e6,5,1,1
289511,ffff2827-d194-42ac-8a62-90b1a745eddf,410a177d-1234-4a0f-b1e2-456db06a99ba,5,1,1

In [ ]:
filtro = (df["IdProduto"] == 5) | (df["IdProduto"] == 11)
df[filtro]

Empty DataFrame
Columns: [idTransacaoProduto, IdTransacao, IdProduto, QtdeProduto, vlProduto]
Index: []

In [ ]:
df = pd.read_csv("../data/cliente.csv")
df

FileNotFoundError: [Errno 2] No such file or directory: '../data/cliente.csv'

In [ ]:
df = pd.read_csv("../data/clientes.csv")
df

     idCliente;flEmail;flTwitch;flYouTube;flBlueSky;flInstagram;qtdePontos;DtCriacao;DtAtualizacao
0     000dc0f6-e4f2-4a42-b8cd-b586ed1c709a;0;1;0;0;0...
1     000ff655-fa9f-4baa-a108-47f581ec52a1;0;0;0;0;0...
2     001749bd-37b5-4b1e-8111-f9fbba90f530;0;0;0;0;0...
3     0019bb9e-26d4-4ebf-8727-fc911ea28a92;0;0;0;0;0...
4     0028dda2-334f-40bb-9582-475fb6719471;0;1;0;0;0...
...                                                 ...
4804  ff2cabd3-3316-4b3f-8494-c25f95e90524;0;1;0;0;0...
4805  ff4909ad-4e52-4767-a6fc-0fbd76e37857;0;0;0;0;0...
4806  ff5d2399-6b53-49f0-b41e-fdaaa0da172a;0;1;0;0;0...
4807  ff8d55dc-64fa-40de-992a-04a4155f5634;0;1;0;0;0...
4808  fff7862d-4b2c-4140-a4c5-509b48ed31b4;0;1;0;0;0...

[4809 rows x 1 columns]

In [ ]:
df = pd.read_csv("../data/clientes.csv")
clientes.head()

NameError: name 'clientes' is not defined

In [ ]:
clientes = pd.read_csv("../data/clientes.csv")
clientes.head()

  idCliente;flEmail;flTwitch;flYouTube;flBlueSky;flInstagram;qtdePontos;DtCriacao;DtAtualizacao
0  000dc0f6-e4f2-4a42-b8cd-b586ed1c709a;0;1;0;0;0...
1  000ff655-fa9f-4baa-a108-47f581ec52a1;0;0;0;0;0...
2  001749bd-37b5-4b1e-8111-f9fbba90f530;0;0;0;0;0...
3  0019bb9e-26d4-4ebf-8727-fc911ea28a92;0;0;0;0;0...
4  0028dda2-334f-40bb-9582-475fb6719471;0;1;0;0;0...

In [ ]:
clientes = pd.read_csv("../data/clientes.csv", sep = ";")
clientes.head()

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao
0,000dc0f6-e4f2-4a42-b8cd-b586ed1c709a,0,1,0,0,0,2,2025-11-13 12:03:56.114,2025-12-13 11:45:37.364
1,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,25086,2024-02-01 00:00:00.000,2025-09-26 13:28:37.697
2,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
3,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
4,0028dda2-334f-40bb-9582-475fb6719471,0,1,0,0,0,0,2025-10-29 02:08:18.367,2025-10-29 02:08:18.367

In [ ]:
clientes = pd.read_csv("../data/clientes.csv", sep = ";")
clientes.head()

flitro = clientes["DtCriacao"].notna()
clientes[filtro]

<ipython-input-9-978834b5209b>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clientes[filtro]

Empty DataFrame
Columns: [idCliente, flEmail, flTwitch, flYouTube, flBlueSky, flInstagram, qtdePontos, DtCriacao, DtAtualizacao]
Index: []

In [ ]:
clientes = pd.read_csv("../data/clientes.csv", sep = ";")
clientes.head()

flitro = ~clientes["DtCriacao"].isna()
clientes[filtro]

<ipython-input-10-8feb56de7662>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clientes[filtro]

Empty DataFrame
Columns: [idCliente, flEmail, flTwitch, flYouTube, flBlueSky, flInstagram, qtdePontos, DtCriacao, DtAtualizacao]
Index: []